.certificate-list ul{ margin: 0; padding: 0; list-style: none; display: inline-grid; }
.certificate-list ul li{ margin: 0; padding: 0; list-style: none; background: #eff4fc; color: #293850; padding: 8px 55px 8px 20px; position: relative; display: inline-block; border-radius: 5px; margin: 0 0 10px;}
.certificate-list ul li a{ background: #e97777; display: inline-block; padding:3px 5px; color: #fff; position: absolute; border-radius: 3px; right: 8px; top: 5px; }

/******************************************************/
/* For Bootstrap Custom Tel Theme Modal  */
.mt--5{margin-top: -5px !important}
.mt--10{margin-top: -10px !important}
.mb--10{margin-bottom: -10px !important}
.mt--25{margin-top: -25px !important}
.w10p{width: 10%;}
.w20p{width: 20%;}
.w30p{width: 30%;}
.w40p{width: 40%;}
.w50p{width: 50%;}
.w60p{width: 60%;}
.w70p{width: 70%;}
.w80p{width: 80%;}
.w90p{width: 90%;}
.w100p{width: 100%;}
.w50{width: 50px;}
.w80{width: 80px;}
.w100{width: 100px;}
.w120{width: 120px;}
.w150{width: 150px;}
.w180{width: 180px;}
.w200{width: 200px;}
.w220{width: 220px;}
.w250{width: 250px;}
.t2{top: 2px !important}
.t3{top: 3px !important}
.t5{top: 5px !important}
.t8{top: 8px !important}
.t10{top: 10px !important}
.c1{color: #696969 !important}
.c2{color: #e16060 !important}
.c3{color: #2460be !important}
.text-link{ color: #346cc4 !important;}
.bg-1{background-color: #eef6f9;background: #eef6f9;}
.round-5{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.cursor_p{cursor: pointer !important;}
.modal.modals-tel-theme .modal-content{border: 0;border-radius: 5px;background: #fff;}
.modal.modals-tel-theme .modal-header{background: #2659bb;background: -moz-linear-gradient(left,  #2659bb 0%, #0cb4e7 100%);background: -webkit-linear-gradient(left,  #2659bb 0%,#0cb4e7 100%);background: linear-gradient(to right,  #2659bb 0%,#0cb4e7 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2659bb', endColorstr='#0cb4e7',GradientType=1 );padding: 12px 25px;border-radius: 5px 5px 0 0;}
.modal.modals-tel-theme .modal-title{color: #fff;margin: 0; padding: 0;font-size: 16px;font-weight: 400;}
.modal.modals-tel-theme .modal-footer.text-right{text-align: right;}
.modal.modals-tel-theme .modal-header button.close{padding: 5px 15px;color: #fff;margin-right: -20px;font-weight: normal;font-size: 20px;}
.modal.modals-tel-theme .modal-header button.close:hover{color: #fff;}
.modal-loading-overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%; background: rgba(185, 185, 185, 0.4);z-index: 999;}
.modal-loading-overlay .loading-section{margin: 85px 0;font-size: 15px;text-align: center;padding: 25px;}
.modal-loading-overlay .center-content-panel{align-items: center;position: absolute;width: 100%;height: 100%;left: 0;top: 0;margin: 0;}
.modal-loading-overlay .page-loading-box{border: 0;background: #fff;}

/****************/
.panel.panel-set-groups{box-shadow: none;}
.panel.panel-set-groups .panel-heading{border-radius: 5px;padding: 0 25px;}
.panel.panel-set-groups .panel-heading h4{font-size: 16px;}
.panel.panel-set-groups .panel-heading .panel-arrow {position: absolute;right: 20px;top: 4px;-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-ms-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}
.panel.panel-set-groups .panel-heading .panel-arrow i{transform: rotate(-90deg);display: block;}
.panel.panel-set-groups .panel-heading.collapsed .panel-arrow i{transform: rotate(90deg);}

/****************/
.panel.panel-default.panel-collapse{}
.panel.panel-default.panel-collapse .panel-heading{
    border-radius: 5px;border: 1px solid #d7d7d7;
}
.panel.panel-default.panel-collapse .panel-heading h4{
    margin: 0;padding: 9px 20px;
}
.panel.panel-default.panel-collapse .panel-heading h4 a{
    display: block;font-size: 15px;
}
.panel.panel-default.panel-collapse .panel-heading h4 a.collapsed{
    display: block;
}
.panel.panel-default.panel-collapse .panel-collapse{
    margin-top: -1px;
}
.panel.panel-default.panel-collapse .panel-collapse .panel-body{
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
}


/********************/
.btn-status{padding: 3px 12px !important;border-radius: 45px !important;font-size: 11px !important;}
.btn-round{-webkit-border-radius: 25px !important;-moz-border-radius: 25px !important;border-radius: 25px !important;}
.btn-primary-light, .btn-primary-light:hover, .btn-primary-light:focus{min-width: auto;background-color: #7787c2; color: #fff;border-color: #7787c2;margin-bottom: 5px;margin-left: 5px;}
.btn-primary-light + .btn-primary-light{margin-left: 5px;}
.filter-container .btn.btn-arrow span,
.btn.btn-arrow span{transform: rotate(-90deg);display: block;}
.filter-container .btn.btn-arrow.open-panel span,
.btn.btn-arrow.open-panel span{transform: rotate(90deg);}
.btn-normal{padding: 6px 10px !important;height: 30px !important;font-size: 13px !important;font-weight: 500 !important;}
.btn-md-2{height: 32px !important;padding: 6px 20px !important;min-width: auto !important;}
a.btn.fileinput-exists{padding: 3px 10px;}
/*************************************/
.data_tables_custome .dataTables_filter{text-align: right;}
.data_tables_custome .dataTables_paginate{text-align: right;}
.dataTabletable td {
  word-break: break-all;
}
.dataTabletable td p{word-break: break-all;}
.dataTables_wrapper .DTFC_Cloned{
    background: #fff;
}
/***************************************/

.panel.panel-response{box-shadow: none}
.panel.panel-response .panel-body{background-color: #fdf9f1;border-radius: 5px;}
.panel.panel-response.panel-danger-light .panel-body{background-color: #fdfafa;border:  2px solid #f7e1e1;}

/***************************************/
.bootstrap-touchspin .form-control{padding-right: 25px;-webkit-appearance: none;-moz-appearance:none;appearance:none;}
.bootstrap-touchspin .input-group-btn-vertical{position: absolute !important;right: 19px;}
.bootstrap-touchspin .input-group-btn-vertical>.btn{height: 18px;min-width: 0;border: 0;background-color: transparent !important;}
label.icheck.radio{line-height: 1 !important;}
.icheck.radio .iradio{position: relative;width: 12px;height: 12px;float: left;border: 1px solid #717171;border-radius: 35px;margin-right: 6px !important;}
.icheck.radio .iradio.checked:before {content: "";position: absolute;top: 0;left: 0;width: 6px;height: 6px;background: #717171;border-radius: 50%;bottom: 0;right: 0;margin: auto;}
label.icheck.checkbox{line-height: 1 !important;}
.icheck.checkbox .icheckbox{position: relative;width: 14px;height: 14px;float: left;border: 1px solid #717171;border-radius: 3px;margin-right: 6px !important;}
.icheck.checkbox .icheckbox.checked{border-color: #2659bb;}
.icheck.checkbox .icheckbox.checked:before {font-family: "Flaticon";content: "\f10a";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #2659bb;border-radius: 1px;bottom: 0;right: 0;margin: auto;font-size: 8px;color: #fff;text-align: center;padding: 2px 1px;font-weight: bold;}
.auto-wh{width: auto !important;height: auto !important;}
.radio label.error:before, .radio label.error:after,
.checkbox label.error:before, .checkbox label.error:after{content: none}
.radio label.error, .checkbox label.error {min-width: 140px;margin-top: 15px}
.question-panel h4,
.question-panel .multiple {font-size: 15px;letter-spacing: 0;color: #4c4c4c;font-weight: 400;}
.question-panel h4.multiple,.question-panel .multiple{line-height: 49px;}
.question-panel h5 {font-size: 14px;letter-spacing: 0;color: #4c4c4c;font-weight: 400;padding-left: 35px;position: relative;line-height: 21px;}
.question-panel h5 i {position: absolute;left: 0;top: 0;bottom: 0;margin: auto;font-size: 16px;width: 18px;height: 18px;}
.question-content{padding-left: 32px !important;}
.question-content label.icheck.checkbox{text-align: left;}
.question-content .icheck.checkbox .icheckbox{margin: 1px 12px 0 12px !important;width: 15px;height: 15px;}
.question-content label.icheck.checkbox{line-height: 1.2 !important;font-weight: 400;}
.btn-question{background-color: #f6f7f8;border-color: #f6f7f8;}
.alert-primary{background-color: #eff3fb;border-color: #eff3fb;color: #274274}
.minheight{min-height: 60vh}

.dataTable .checkbox-tel{width: 15px;}
.checkbox-tel{position: relative;cursor: pointer;margin: 0;}
.checkbox-tel input{width:14px;height:14px;margin-right: 15px;position: relative;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.checkbox-tel input:before, .checkbox-tel input:after{cursor:pointer;width:100%;height:100%;border-radius: 3px;border: 1px solid;}
.checkbox-tel input:before{content: "";position: absolute;width: 100%;height : 100%;background-color: #fff;border-color:  #717171;}
.checkbox-tel input:checked:before{background-color: #2460be;border-color:  #2460be;}
.checkbox-tel input:checked:after{font-family: "Flaticon";content: "\f10a";width: 100%;height : 100%;background-color: #2460be;z-index: 4;position: absolute;color: #fff;padding: 2px;text-align: center;font-size: 8px;font-weight: bold;border-color:  #2460be;}

.radio-tel{position: relative;cursor: pointer;margin: 0;}
.radio-tel input{width:14px;height:14px;margin-right: 15px;position: relative;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.radio-tel input:before, .radio-tel input:after{cursor:pointer;width:100%;height:100%;border-radius: 50%;border: 1px solid;}
.radio-tel input:before{content: "";position: absolute;width: 100%;height : 100%;background-color: #fff;border-color:  #717171;}
.radio-tel input:checked:before{border-color:  #2460be;}
.radio-tel input:checked:after{content:"";width: 6px;height: 6px;z-index: 4;position: absolute;background-color: #2460be;top:0;left:0;right:0;bottom:0;margin: auto;}

.nav.disable-all,
.nav.disable-all>li,
.nav.disable-all>li>a{-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;pointer-events: none;}
.browse-tel{position: relative;cursor: pointer;}
.browse-tel input[type="file"]{position: absolute;opacity: 0;height: 100%;left: 0;top: 0;cursor: pointer}
.browse-tel span.title{display: block;padding: 5px;cursor: pointer;max-width: 150px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

.progress{width: 100%;overflow: visible;position: relative;}
.progress .percent{position: absolute;bottom: -22px;}
.progress .progress-bar{max-width: 100%;width: 0%;position: absolute;top: 0px;left: 0px;height: 8px;}

/***********************************/
.fib-response-panel{padding: 0}
.fib-response-panel h4{position: relative;font-size: 16px;padding-left: 40px;font-weight: 500;}
.fib-response-panel h4 i{position: absolute;left: 0;font-size: 20px;top: -2px;}
.fib-left{padding-left: 40px !important;}

/******************************/
.form-input-drag.form-control{
    box-shadow: none;background-color: #fffcf9;border: 1px dashed #f7941d;
}

/*********************************/
.alert.alert-light-warning{
    background-color: #fff6ed; color: #97715c;padding: 5px 15px;font-size: 12px;font-weight: 500;
}
.alert.alert-light-warning i{
    position: relative;left: -5px;font-weight: bold;
}
.alert.alert-primary.alert-light{
	font-size: 12px;padding: 6px 15px;
}

/***************************************/
.collapse-panel{padding: 0;}
.collapse-panel h4 {padding: 15px;background: #f5f5f5;border-radius: 5px;font-weight: 500;font-size: 16px;}

/*************************************/
/*  Data Tables */
#memListTable_wrapper .dataTables_filter{text-align: right;}
table.table-custome.dataTable tr.odd{background-color: transparent}
table.table-custome.dataTable tr.even{background-color: #f6f8fa}
.grid-thumb{width: 50px;height: 50px;border-radius: 4px;overflow: hidden;}
.grid-thumb img{display: block; object-fit: cover; width: 100%;height: 100%;}
.dataTables_scroll{margin-bottom: 15px;}
table.dataTable tr > td, table.dataTable tr > th{/* word-break: break-all; */}
/************************************/
.ms-multiple-select-list a.btn{
	padding: 4px 7px;top: 8px;
}
.ms-container .ms-elem-selection .btn + .btn{
	top: 33px;
}

/***************************************/
.user-profile-thumb-new{
    width: 180px;
    height: 120px;
    border-radius: 4px;
    overflow: hidden;	
}
.user-profile-thumb-new img {
    object-fit: cover;
    height: 100%;
}
.user-profile-thumb{
	width: 180px;height: 120px;border-radius: 4px;overflow: hidden
}
.user-profile-thumb img{
	object-fit: cover; width: 100%;height: 100%; 
}
.user-profile-picture{
	width: 200px;height: 200px;margin: 0 0 20px;	
}
.user-profile-picture img{
	object-fit: cover; width: 100%;height: 100%; 
}

.faourite-btn{float: right; color: #545454;width: 35px;height: 35px;display: block;text-align: center;padding: 6px;border-radius: 50%;background: #ebe9e9;font-size: 19px}
.faourite-btn.active{color: #eb0404;background: rgba(255, 0, 0, 0.06);}

.notification-unread,
.notification-read{
 position: relative;text-transform: capitalize;
}
.notification-unread .media-left{
    color: #2460be; font-weight: bold
}
.notification-unread .media-body{
    color: #2859a5; font-weight: bold;text-transform: capitalize;font-weight: 500;
}

.notification-unread:before{
    content: ""; position: absolute;top: 8px;left: 10px; width: 5px;height: 5px;border-radius: 50%;
    background-color: #2460be;
}
.notification-read{background-color: #fbfcfd; border-color: #e8eef9;}
.notification-read:before{ content: none; }
.field-required{
    color: #f00;
}
.media-thumb{
    width: 150px;height: 100px;overflow: hidden;border-radius: 5px;background: #f5f5f5;border: 1px solid #ccc;
}
.media-thumb img {
    object-fit: cover;width: 100%;height: 100%; cursor: pointer
}
.media-thumb-img{
    text-align: center;
}
.media-thumb-img img{
    width: 50px; opacity: 0.6;
}
.nav.modal-nav-tab{
    border-color: #efefef;
}
.nav.modal-nav-tab > li:first-child > a{
    border-left: 0;
}
.nav.modal-nav-tab > li{}
.nav.modal-nav-tab > li > a{
font-weight: 500;
    font-size: 14px;
    padding: 12px 15px;
    min-width: 140px;
    background: #f7f7f7;
    border-color: #efefef;
    text-align: center;
    border-radius: 0;    
}
.nav.modal-nav-tab > li.active > a{
color: #265abc;
    background: #fff;
    border-bottom-color: #fff;
    position: relative;
}
.nav.modal-nav-tab > li.active > a:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 60%;
    height: 2px;
    background: #6286ca;
    left: 0;
    right: 0;
    margin: auto;
}
a.fileinput-existing{
    
}
.media-trach-button {
    position: absolute;
    top: -10px;
    right: 5px;
}
.media-trach-button .btn {
    width: auto;
    min-width: auto;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    padding: 5px 0;
}
.skylo.progress_bar_dark {
    position: absolute;
    z-index: 99999 !important;
    top: 0;
    left: 0;
    margin: auto;
    width: 100% !important;
    height: 100% !important;
    background: rgba(255,255,255,.8);
}
.skylo.progress_bar_dark .loader-box {
    position: absolute;
    width: 140px !important;
    display: block;
    height: 48px;
    left: 0;
    right: 0;
    margin: auto;
    color: #3568ca;
    top: 0;
    bottom: 0;
    background: #fff;
    text-align: center;
    padding: 12px 15px 10px;
    border-radius: 5px;
    box-shadow: 0 0 16px rgba(0,0,0,.1);
}
.skylo.progress_bar_dark .loader-box .loader-quart{
    border: 3px solid rgb(228, 237, 255);
}
.skylo.progress_bar_dark .loader-box .loader-quart:after{
    border-top-color: #3568ca;
}

.btn.btn-delete{
    position: absolute;bottom: 10px;right: 10px;z-index: 1;background: #e85454;max-width: 0;min-width: 29px;padding: 6px 5px;color: #fff;height: 30px;font-size: 13px;
}
.doc-panel-pdf, .doc-panel-csv, .doc-panel-mp3, .doc-panel-doc, .doc-panel-xls {
    min-height: 120px;background: #f5f5f5;border-radius: 5px;text-align: center;padding: 0;
}
.dataTables_wrapper .DTFC_LeftBodyWrapper {
    border-right: 1px solid #e4eaef;
}
.list-file-row.document_show label.control-label {
    position: absolute;
}
.text-left{
    text-align: left !important
}

.passwordGenerated {
    color: #18723e;
    margin-top: 6px;
    margin-left: 17px;
    border-width: 2px;
    background: #f3fff8;
    border-radius: 4px;
    font-weight: 600;
    padding-left: 0;
    border: 1px solid #c3dbcd;
    padding: 6px 10px;
    text-align: center;
    position: relative
}